# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.

# Theme Settings
# theme                  : "minimal-mistakes-jekyll"
# remote_theme           : "mmistakes/minimal-mistakes"
minimal_mistakes_skin    : "contrast" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
rtl                      : # true, false (default)
title                    : "David Onaiyekan"
title_separator          : "-"
subtitle                 : "Machine Learning Engineer"
name                     : "David Onaiyekan"
description              : "Machine Learning & AI Engineer focusing on computer vision, generative models, and MLOps."
url                      : "https://devo002.github.io"   # the base hostname & protocol for your site
baseurl                  : ""                            # no subpath since this is a user site
repository               : "devo002/devo002.github.io"   # GitHub username/repo-name
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo                     : "/assets/davidlogo.png"       # path of logo image to display in the masthead
favicon                  : "/assets/davidlogo.png"
masthead_title           : # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs              : # true, false (default)
words_per_minute         : 200
enable_copy_code_button  : true
copyright                : "David Onaiyekan"
copyright_url            : "https://devo002.github.io"

comments:
  provider               : # false (default), "disqus", "discourse", etc.
  disqus:
    shortname            :
  discourse:
    server               :
  facebook:
    appid                :
    num_posts            :
    colorscheme          :
  utterances:
    theme                :
    issue_term           :
  giscus:
    repo_id              :
    category_name        :
    category_id          :
    discussion_term      :
    reactions_enabled    :
    theme                :
    strict               :
    input_position       :
    emit_metadata        :
    lang                 :
    lazy                 :
  staticman:
    branch               :
    endpoint             :

reCaptcha:
  siteKey                :
  secret                 :

atom_feed:
  path                   :
  hide                   :

search                   : true
search_full_content      : false
search_provider          : lunr
lunr:
  search_within_pages    : false

algolia:
  application_id         :
  index_name             :
  search_only_api_key    :
  powered_by             :

google:
  search_engine_id       :
  instant_search         :

# SEO Related
google_site_verification :
bing_site_verification   :
naver_site_verification  :
yandex_site_verification :
baidu_site_verification  :

# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : # default Open Graph/Twitter image

# Social profiles for structured data
social:
  type                   : "Person"
  name                   : "David Onaiyekan"
  links:
    - "https://github.com/devo002"
    - "https://www.linkedin.com/in/david-mayowa-onaiyekan-01b436122"
    - "mailto:davidmayowaonaiyekan@gmail.com"

# Analytics
analytics:
  provider               : false
  google:
    tracking_id          :
    anonymize_ip         :

# Site Author
author:
  name             : ""
  avatar           : "/assets/davidpassport.jpg" # add this file later if you want a photo
  bio              : |
                      Machine Learning & AI Engineer with hands-on experience in **Computer Vision**, **Generative AI**, **Agentic AI**, **LLM**, **RAG**,and **MLOps**. Strong project background in building production-oriented ML systems using PyTorch and Hugging Face. Former Tech Support Specialist with strong problem-solving and system-level experience, actively transitioning into a full-time ML Engineer role.

  location         : "Bavaria, Germany"
  email            : "davidmayowaonaiyekan@gmail.com"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:davidmayowaonaiyekan@gmail.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/devo002"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/david-mayowa-onaiyekan-01b436122"

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/devo002"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/david-mayowa-onaiyekan-01b436122"
  since: "2025"
  powered_by: false


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - minimal-mistakes-jekyll.gemspec
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs
  - /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: "Europe/Berlin"

# Pagination with jekyll-paginate
paginate: 5
paginate_path: /page:num/

# Pagination with jekyll-paginate-v2
pagination:
  debug: false
  collection: 'posts'
  per_page: 10
  permalink: '/page/:num/'
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  category: 'posts'
  tag: ''
  locale: ''
  trail:
    before: 2
    after: 2

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments:
      share: true
      related: true
